.gridItem {
  display: flex;
  flex-direction: column;
  margin: 4px;
  height: 200px;
  background: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 4px 0px rgba(153, 153, 153, 1);
  -moz-box-shadow: 1px 1px 4px 0px rgba(153, 153, 153, 1);
  box-shadow: 1px 1px 4px 0px rgba(153, 153, 153, 1);

  .gridItemImage {
    width: 100%;
    flex: 1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .gridItemFooter {
    width: 100%;
    bottom: 0;
    flex-direction: column;

    .gridItemTitle {
      display: flex;
      padding: 8px;
      flex: 1;
      font-size: 12px;
    }

    .gridItemSubtitle {
      font-size: 14px;
    }
  }
}
