.homePage {
  color: black;

  .reaction {
    padding: 16px;
    display: flex;

    .reactionButton {
      display: flex;
      justify-content: center;
      flex: 1;

      button {
        -webkit-box-shadow: 1px 1px 4px 0px rgba(153, 153, 153, 1);
        -moz-box-shadow: 1px 1px 4px 0px rgba(153, 153, 153, 1);
        box-shadow: 1px 1px 4px 0px rgba(153, 153, 153, 1);
      }

      i {
        width: 24px;
      }
    }
  }
}
