.homePage {
  height: 100%;
  color: black;
  display: flex;
  flex-direction: column;

  .mySwiper {
    width: 375px;
    height: 432px;
  }

  .reaction {
    padding: 16px;
    display: flex;

    .reactionButton {
      display: flex;
      justify-content: center;
      flex: 1;

      button {
        -webkit-box-shadow: 1px 1px 4px 0px rgba(153, 153, 153, 1);
        -moz-box-shadow: 1px 1px 4px 0px rgba(153, 153, 153, 1);
        box-shadow: 1px 1px 4px 0px rgba(153, 153, 153, 1);
      }

      i {
        width: 24px;
      }
    }
  }
}
